/* header */
.header {
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__item_5 {
    display: none;

    @media screen and (min-width:480px) {
      display: inline-block;
      margin-right: 0;
    }
  }
}

.header__left {
  min-width: 288px;
  margin: 0 auto;
}

.header__logo {
  display: none;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 17px;
  text-transform: uppercase;
}

.header__item_5 {
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__phone {
  display: none;
}

.header__messengers {
  display: none;
}

.messengers__item:not(:last-child) {
  margin-right: 29px;
}

.header__description {
  display: none;
}

@media screen and (min-width:480px) {
  .header__item_5 {
    display: inline-block;
    margin-right: 0;

  }
}

@media screen and (min-width:768px) {
  body {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header__container {
    align-items: center;
  }

  .header__left {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .header__logo {
    display: inline-block;
    margin-right: 10px;
  }

  .header__item_5 {
    margin-right: 0;
  }

  .header__phone {
    display: inline-block;
  }
}

@media screen and (min-width:992px) {
  .header__phone {
    display: inline-block;
    margin-right: 10px;
  }

  .header__messengers {
    display: flex;
  }
}

@media screen and (min-width:1200px) {
  .header {
    margin-bottom: 125px;
  }

  .header__container {
    padding-top: 57px;
  }

  .header__logo {
    margin-right: 52px;
  }

  .header__list {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .header__item {
    margin-right: 30px;
    text-transform: none;
  }

  .header__phone {
    margin-right: 47px;
  }

  .header__description {
    max-width: 165px;
    display: inline-block;
    position: absolute;
    top: 91px;
    left: 80px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #E4E5EA;
  }

  .messengers__item {
    margin-top: 3px;
  }

  .messengers__item:first-child {
    margin-top: 3px;
  }
}

@media screen and (min-width:1400px) {
  .header__container {
    padding-top: 57px;
  }

  .header__description {
    left: 150px;
  }
}